*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.aboutimg{
    height: 200px;
}
.img-sec img{
    height: 500px;
    object-fit: cover;
}

#info{
    margin-bottom: 0;
}

